 <!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <a href="index.html" class="footer-brand">
            <img src="~/images/logo_main.png" alt="#" />
        </a>
        <div class="col-lg-10 mx-auto px-0">
            <div class="footer_items">
                <div class="row">
                    <div class="col-md-4">
                        <a href="">
                            <div class="item ">
                                <div class="img-box ">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Lorem Ipsum is simply
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="item ">
                                <div class="img-box ">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <p>
                                    +01 1234567890
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="item ">
                                <div class="img-box">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <p>
                                    demo@gmail.com
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-box">
            <h4>
                Follow Us
            </h4>
            <div class="box">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-10 mx-auto px-0">
            <div class="footer_form">
                <h4>
                    NEWSLETTER
                </h4>
                <form action="">
                    <input type="text" placeholder="Enter Your Email" />
                    <button type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->
<!-- jQery -->

<script src="~/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->

<script src="~/js/popper.min.js"></script>
<!-- bootstrap js -->

<script src="~/js/bootstrap.js"></script>
<!-- custom js -->

<script src="~/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->